@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

main {
    padding-top: 10rem;
    padding-left: 10rem;
    height: 100vh;
}

table, th, td {
    text-align: left;
    border:1px solid black;
}

table {
    width: 500px;
}

.table-wrapper {
    padding-bottom: 5rem;
}

th, td {
    padding: 1rem;
}

th {
    font-weight: 600;
    font-size: 18px;
    background-color: antiquewhite;
}

.btn{
    cursor: pointer;
    background-color: antiquewhite;
    border: 1px solid black;
    font-weight: 600;
    font-size: 18px;
    border-radius: 15px;
    padding: 1rem 2rem 1rem 2rem;
    transition: all 300ms;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.btn:hover {
    background-color: rgb(212, 199, 181);
}

.avgAge {
    font-weight: 800;
}